externalsystem-renovars-s/src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="postImmobileFacileImmobiliare" doc:id="a821d066-9a25-42cb-a6df-1f5c9ef735e7" >
		<flow-ref doc:name="Flow Reference" doc:id="0d316fb9-6637-4332-8bc2-392388c8838c" name="initVars"/>
		<logger level="INFO" doc:name="Logger" doc:id="403e60f1-6b03-43fc-84e0-ee51c6b8c6aa" message="#[%dw 2.0&#10;output application/json&#10;---&#10;'[fName:' ++ vars.fname ++  '] post facileImmobiliare Immobile request: [' ++ (payload default '') ++ ']']" />
		<ee:transform doc:name="Transform Message" doc:id="174ee7bb-4252-429f-8c4e-426fc7dde567" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload.request]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<http:request method="POST" doc:name="Request" doc:id="82e0e51e-d1bb-4ecb-a564-1c3a06783275" config-ref="HTTP_Request_configuration_facileImmobiliare" path="${facileImmobiliare.basePath}${facileImmobiliare.immobile.path}" >
			<http:headers ><![CDATA[#[output application/java
---
{
	"Authorization" : "Value"
}]]]></http:headers>
			<http:query-params ><![CDATA[#[output application/json
---
{
	"title": payload.title,
	"status": payload.status,
	"via": payload.streetAddress,
	"citta": payload.city,
	"provincia_immobili": payload.propertyProvince,
	"descrizione_immobile": payload.propertyDescription,
	"map": payload.mapUrl,
	"prezzo": payload.price,
	"tipologia_id": payload.propertyTypeId,
	"superficie_mq": payload.propertySizeQm,
	"stato": payload.propertyCondition,
	"anno": payload.year,
	"bagni": payload.bathrooms,
	"locali": payload.bedrooms,
	"balcone_mq": payload.balconySizeQm,
	"giardino_mq": payload.gardenSizeQm,
	"garage": payload.garageIncluded,
	"ascensore": payload.elevatorIncluded,
	"piano": payload.floorNumber,
	"esposizione": payload.exposure,
	"panoramica_distanza": payload.panoramicDistanceKm,
	"panoramica_qualita": payload.panoramicQuality,
	"riscaldamento": payload.heatingType,
	"classe_energetica": payload.energyClass,
	"tipo_proprieta": payload.propertyOwnershipType,
	"finiture_qualita": payload.finishesQuality,
	"impianti_qualita": payload.systemsQuality,
	"cucina_valore": payload.kitchenValue,
	"crm_id": payload.crmId,
	("gallery": payload.gallery) if payload.gallery != null,
	"url_foto": payload.urlPhoto
}]]]></http:query-params>
			<http:response-validator >
				<http:success-status-code-validator values="200..499" />
			</http:response-validator>
		</http:request>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="17a2f471-b908-449c-8bff-a6806217cd57" >
				<logger level="INFO" doc:name="Logger" doc:id="b0f9e41e-0444-47e6-b7dc-28b1051f6e0a" message="#[error]"/>
				<ee:transform doc:name="Transform Message" doc:id="59877bd0-2992-4b55-983d-fe25bc8b841f" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message": error.detailedDescription
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="initVars" doc:id="92905602-7ccf-40ad-8b01-9a77cf2b4c1c" >
		<set-variable value="#[attributes.header.fName]" doc:name="Set Variable" doc:id="1501fa86-98e1-4986-9719-405acd467dc5" variableName="fname" />
		<set-variable value="#[payload.transactionId]" doc:name="Set Variable1" doc:id="3c0be6cc-30e1-43d0-8297-8665a1c725db" variableName="transactionId" />
		<set-variable value="#[payload.timestamp]" doc:name="Set Variable2" doc:id="469ab106-e343-4c07-8c38-a77c71695fe3" variableName="timestamp" />
	</flow>
	<flow name="deleteImmobileFacileImmobiliare" doc:id="57f19c66-2905-472d-8940-885b99fcfc2a" >
		<flow-ref doc:name="Flow Reference" doc:id="c45f43cc-c38f-402d-8a32-94eb27689c34" name="initVars" />
		<logger level="INFO" doc:name="Logger" doc:id="88f6d3d4-e250-4dec-9c00-2c4f3fbf4938" message="#[%dw 2.0&#10;output application/json&#10;---&#10;'[fName:' ++ vars.fname ++  '] delete facileImmobiliare Immobile request: [' ++ (payload default '') ++ ']']" />
		<ee:transform doc:name="Transform Message" doc:id="fa1620d1-0c2c-4a44-ba2d-14154f1c48ad" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload.request]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<http:request method="DELETE" doc:name="Request" doc:id="fd660581-3a79-4a23-83a1-afb8dbf90c4a" config-ref="HTTP_Request_configuration_facileImmobiliare" path="${facileImmobiliare.basePath}${facileImmobiliare.immobile.path}/{ExternalIdFacileImmobiliare}" >
			<http:headers ><![CDATA[#[output application/java
---
{
	"Authorization" : "Value"
}]]]></http:headers>
			<http:uri-params ><![CDATA[#[{
		"ExternalIdFacileImmobiliare": payload.ExternalIdFacileImmobiliare
}]]]></http:uri-params>
			<http:response-validator >
				<http:success-status-code-validator values="200..499" />
			</http:response-validator>
		</http:request>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="9181ba6c-1621-428c-a14b-0a25451c7357" >
				<logger level="INFO" doc:name="Logger" doc:id="bef1174c-b966-4136-a829-392c947b2392" message="#[error]" />
				<ee:transform doc:name="Transform Message" doc:id="bfb8bfda-f7fe-4428-9290-78a42b283a6d" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message": error.detailedDescription
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="deleteAgenteFacileImmobiliare" doc:id="3826ecde-92c6-488e-b477-49d1299c90a6" >
		<flow-ref doc:name="Flow Reference" doc:id="d5039597-0acb-4076-8124-f25982686ba1" name="initVars" />
		<logger level="INFO" doc:name="Logger" doc:id="14ae0bbf-7cff-4d70-a7c7-ead64f320b92" message="#[%dw 2.0&#10;output application/json&#10;---&#10;'[fName:' ++ vars.fname ++  '] delete facileImmobiliare Agente request: [' ++ (payload default '') ++ ']']" />
		<ee:transform doc:name="Transform Message" doc:id="b4132e45-b32e-448d-9463-a84935fcb3ec" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload.request]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<http:request method="DELETE" doc:name="Request" doc:id="402b4719-99ab-4073-8a47-67110792d380" config-ref="HTTP_Request_configuration_facileImmobiliare" path="${facileImmobiliare.basePath}${facileImmobiliare.agente.path}/{ExternalIdFacileImmobiliare}" >
			<http:headers ><![CDATA[#[output application/java
---
{
	"Authorization" : "Value"
}]]]></http:headers>
			<http:uri-params ><![CDATA[#[{
		"ExternalIdFacileImmobiliare": payload.ExternalIdFacileImmobiliare
}]]]></http:uri-params>
			<http:response-validator >
				<http:success-status-code-validator values="200..499" />
			</http:response-validator>
		</http:request>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="d66cc376-a82a-4390-a710-d0f195202c82" >
				<logger level="INFO" doc:name="Logger" doc:id="f8e29f0c-c59f-4293-b3a3-4bc161cdccb8" message="#[error]" />
				<ee:transform doc:name="Transform Message" doc:id="5a0cc347-fa98-423d-9a90-143c296e3748" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message": error.detailedDescription
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="wikiCasaSSOTokenForProvider" doc:id="145c8e3e-91a4-40f3-a5da-60e114464505" >
		<http:request method="GET" doc:name="Request" doc:id="25e047a7-3f39-43ea-8686-22dbd9a1b2e5" config-ref="HTTP_Request_configuration_WikiCasa" path="${wikiCasa.basePath}${wikiCasa.pathssoTokenForProvider}">
			<http:headers ><![CDATA[#[output application/java
---
{
	"PrivateKey" : p('secure::wikiCasa.PrivateKey'),
	"PublicKey" : p('secure::wikiCasa.PublicKey')
}]]]></http:headers>
		</http:request>
		<logger level="INFO" doc:name="Logger" doc:id="dc1e206e-bd7c-4569-9e68-b93f90eca823" message="#[%dw 2.0&#10;output application/json&#10;---&#10;'[fName:' ++ vars.fname ++  '] ssoTokenForProvider Wiki Casa Response: [' ++ (payload default '') ++ ']']" />
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="ad4ee822-c66c-4b93-9f4e-802370be60a7" >
				<logger level="INFO" doc:name="Logger" doc:id="390d3ba3-036e-4389-8b20-e317e8e57b92" message="#[error]" />
				<ee:transform doc:name="Transform Message" doc:id="56bbc17d-9875-4706-9f68-3644b66517bd" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message": error.detailedDescription
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="postAgenteFacileImmobiliare" doc:id="56f1ee52-2d22-4b48-9a45-d34e4eed1fce" >
		<flow-ref doc:name="Flow Reference" doc:id="dea7c231-016d-4789-9935-2b9f7667abaf" name="initVars" />
		<logger level="INFO" doc:name="Logger" doc:id="77d52714-ccf8-44a8-94b6-98f09f436cfb" message="#[%dw 2.0&#10;output application/json&#10;---&#10;'[fName:' ++ vars.fname ++  '] delete facileImmobiliare Agente request: [' ++ (payload default '') ++ ']']" />
		<ee:transform doc:name="Transform Message" doc:id="3994ee1a-a550-47bb-b577-75e5ff40ec42" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload.request]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<http:request method="POST" doc:name="Request" doc:id="4a22edc8-3f68-4b4f-807d-a5bdaff2a99f" config-ref="HTTP_Request_configuration_facileImmobiliare" path="${facileImmobiliare.basePath}${facileImmobiliare.agente.path}" >
			<http:headers ><![CDATA[#[output application/java
---
{
	"Authorization" : "Value"
}]]]></http:headers>
			<http:query-params ><![CDATA[#[output application/json skipNullOn="everywhere"
---
{
		"title": payload.title,
		"ruolo": payload.role,
		"nome": payload.firstName,
		"cognome": payload.lastName,
		"descrizione": payload.description,
		"immobili_gestiti": payload.propertiesManaged,
		"url_foto": payload.photoUrl,
		"email": payload.emailAddress,
		"email_superiore": payload.superiorEmail,
		"crm_id": payload.crmId
}]]]></http:query-params>
			<http:response-validator >
				<http:success-status-code-validator values="200..499" />
			</http:response-validator>
		</http:request>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="188d6d7b-49a5-4d59-9c60-9c5500e9f7e3" >
				<logger level="INFO" doc:name="Logger" doc:id="65f71ba2-9c8b-4972-a445-d383260d6756" message="#[error]" />
				<ee:transform doc:name="Transform Message" doc:id="e4b7b658-64de-4f25-bf9e-c274fad36c58" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message": error.detailedDescription
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>
