externalsystem-renovars-s/src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:request-config name="HTTP_Request_microsoftGraph_token_configuration" doc:name="HTTP Request configuration" doc:id="bffc083f-c159-4400-9ffc-139075dd0fc5" >
		<http:request-connection protocol="HTTPS" host="${microsoftGraph.tokenUrl}" />
	</http:request-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="bf9a7fe5-e2f7-4702-8c25-7209f3a7cd0e" >
		<http:request-connection host="${microsoftGraph.graphUrl}" protocol="HTTPS"/>
	</http:request-config>
	<flow name="postImmobileFacileImmobiliare" doc:id="a821d066-9a25-42cb-a6df-1f5c9ef735e7" >
		<flow-ref doc:name="Flow Reference" doc:id="0d316fb9-6637-4332-8bc2-392388c8838c" name="initVars"/>
		<logger level="INFO" doc:name="Logger" doc:id="403e60f1-6b03-43fc-84e0-ee51c6b8c6aa" message="#[%dw 2.0&#10;output application/json&#10;---&#10;'[fName:' ++ vars.fname ++  '] post facileImmobiliare Immobile request: [' ++ (write(payload default '', &quot;application/json&quot;)) ++ ']']" />
		<ee:transform doc:name="Transform Message" doc:id="174ee7bb-4252-429f-8c4e-426fc7dde567" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload.request]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<http:request method="POST" doc:name="Request" doc:id="82e0e51e-d1bb-4ecb-a564-1c3a06783275" config-ref="HTTP_Request_configuration_facileImmobiliare" path="${facileImmobiliare.basePath}${facileImmobiliare.immobile.path}" >
			<http:headers ><![CDATA[#[output application/java
---
{
	"Authorization" : "Value"
}]]]></http:headers>
			<http:query-params ><![CDATA[#[output application/json
---
{
	"title": payload.title,
	"status": payload.status,
	"via": payload.streetAddress,
	"citta": payload.city,
	"provincia_immobili": payload.propertyProvince,
	"descrizione_immobile": payload.propertyDescription,
	"map": payload.mapUrl,
	"prezzo": payload.price,
	"tipologia_id": payload.propertyTypeId,
	"superficie_mq": payload.propertySizeQm,
	"stato": payload.propertyCondition,
	"anno": payload.year,
	"bagni": payload.bathrooms,
	"locali": payload.bedrooms,
	"balcone_mq": payload.balconySizeQm,
	"giardino_mq": payload.gardenSizeQm,
	"garage": payload.garageIncluded,
	"ascensore": payload.elevatorIncluded,
	"piano": payload.floorNumber,
	"esposizione": payload.exposure,
	"panoramica_distanza": payload.panoramicDistanceKm,
	"panoramica_qualita": payload.panoramicQuality,
	"riscaldamento": payload.heatingType,
	"classe_energetica": payload.energyClass,
	"tipo_proprieta": payload.propertyOwnershipType,
	"finiture_qualita": payload.finishesQuality,
	"impianti_qualita": payload.systemsQuality,
	"cucina_valore": payload.kitchenValue,
	"crm_id": payload.crmId,
	("gallery": payload.gallery) if payload.gallery != null,
	"url_foto": payload.urlPhoto
}]]]></http:query-params>
			<http:response-validator >
				<http:success-status-code-validator values="200..499" />
			</http:response-validator>
		</http:request>
		<logger level="INFO" doc:name="Logger1" doc:id="fcf0c311-3731-4450-b594-5ca35a8dcee4" message="#[payload]" />
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="17a2f471-b908-449c-8bff-a6806217cd57" >
				<logger level="INFO" doc:name="Logger" doc:id="b0f9e41e-0444-47e6-b7dc-28b1051f6e0a" message="#[error]"/>
				<ee:transform doc:name="Transform Message" doc:id="59877bd0-2992-4b55-983d-fe25bc8b841f" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message": error.detailedDescription
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="initVars" doc:id="92905602-7ccf-40ad-8b01-9a77cf2b4c1c" >
		<logger level="INFO" doc:name="Logger" doc:id="2b1c261e-439f-4da3-8855-e945909e5c0c" message="#[attributes]"/>
		<set-variable value="#[attributes.header.fName default '']" doc:name="Set Variable" doc:id="1501fa86-98e1-4986-9719-405acd467dc5" variableName="fname" />
		<set-variable value="#[payload.transactionId default '']" doc:name="Set Variable1" doc:id="3c0be6cc-30e1-43d0-8297-8665a1c725db" variableName="transactionId" />
		<set-variable value="#[payload.timestamp default '']" doc:name="Set Variable2" doc:id="469ab106-e343-4c07-8c38-a77c71695fe3" variableName="timestamp" />
	</flow>
	<flow name="deleteImmobileFacileImmobiliare" doc:id="57f19c66-2905-472d-8940-885b99fcfc2a" >
		<flow-ref doc:name="Flow Reference" doc:id="c45f43cc-c38f-402d-8a32-94eb27689c34" name="initVars" />
		<logger level="INFO" doc:name="Logger" doc:id="88f6d3d4-e250-4dec-9c00-2c4f3fbf4938" message="#[%dw 2.0&#10;output application/json&#10;---&#10;'[fName:' ++ vars.fname ++  '] delete facileImmobiliare Immobile request: [' ++ (write(payload default '', &quot;application/json&quot;)) ++ ']']" />
		<ee:transform doc:name="Transform Message" doc:id="fa1620d1-0c2c-4a44-ba2d-14154f1c48ad" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload.request]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<http:request method="DELETE" doc:name="Request" doc:id="fd660581-3a79-4a23-83a1-afb8dbf90c4a" config-ref="HTTP_Request_configuration_facileImmobiliare" path="${facileImmobiliare.basePath}${facileImmobiliare.immobile.path}/{ExternalIdFacileImmobiliare}" >
			<http:headers ><![CDATA[#[output application/java
---
{
	"Authorization" : "Value"
}]]]></http:headers>
			<http:uri-params ><![CDATA[#[{
		"ExternalIdFacileImmobiliare": payload.ExternalIdFacileImmobiliare
}]]]></http:uri-params>
			<http:response-validator >
				<http:success-status-code-validator values="200..499" />
			</http:response-validator>
		</http:request>
		<logger level="INFO" doc:name="Logger1" doc:id="8242e325-c126-4361-9ef1-6e4b7e3f9325" message="#[payload]" />
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="9181ba6c-1621-428c-a14b-0a25451c7357" >
				<logger level="INFO" doc:name="Logger" doc:id="bef1174c-b966-4136-a829-392c947b2392" message="#[error]" />
				<ee:transform doc:name="Transform Message" doc:id="bfb8bfda-f7fe-4428-9290-78a42b283a6d" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message": error.detailedDescription
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="deleteAgenteFacileImmobiliare" doc:id="3826ecde-92c6-488e-b477-49d1299c90a6" >
		<flow-ref doc:name="Flow Reference" doc:id="d5039597-0acb-4076-8124-f25982686ba1" name="initVars" />
		<logger level="INFO" doc:name="Logger" doc:id="14ae0bbf-7cff-4d70-a7c7-ead64f320b92" message="#[%dw 2.0&#10;output application/json&#10;---&#10;'[fName:' ++ vars.fname ++  '] delete facileImmobiliare Agente request: [' ++ (write(payload default '', &quot;application/json&quot;)) ++ ']']" />
		<ee:transform doc:name="Transform Message" doc:id="b4132e45-b32e-448d-9463-a84935fcb3ec" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload.request]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<http:request method="DELETE" doc:name="Request" doc:id="402b4719-99ab-4073-8a47-67110792d380" config-ref="HTTP_Request_configuration_facileImmobiliare" path="${facileImmobiliare.basePath}${facileImmobiliare.agente.path}/{ExternalIdFacileImmobiliare}" >
			<http:headers ><![CDATA[#[output application/java
---
{
	"Authorization" : "Value"
}]]]></http:headers>
			<http:uri-params ><![CDATA[#[{
		"ExternalIdFacileImmobiliare": payload.ExternalIdFacileImmobiliare
}]]]></http:uri-params>
			<http:response-validator >
				<http:success-status-code-validator values="200..499" />
			</http:response-validator>
		</http:request>
		<logger level="INFO" doc:name="Logger1" doc:id="94aa3956-024a-4295-8500-be08509980a8" message="#[payload]" />
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="d66cc376-a82a-4390-a710-d0f195202c82" >
				<logger level="INFO" doc:name="Logger" doc:id="f8e29f0c-c59f-4293-b3a3-4bc161cdccb8" message="#[error]" />
				<ee:transform doc:name="Transform Message" doc:id="5a0cc347-fa98-423d-9a90-143c296e3748" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message": error.detailedDescription
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="postAgenteFacileImmobiliare" doc:id="56f1ee52-2d22-4b48-9a45-d34e4eed1fce" >
		<flow-ref doc:name="Flow Reference" doc:id="dea7c231-016d-4789-9935-2b9f7667abaf" name="initVars" />
		<logger level="INFO" doc:name="Logger" doc:id="77d52714-ccf8-44a8-94b6-98f09f436cfb" message="#[%dw 2.0&#10;output application/json&#10;---&#10;'[fName:' ++ vars.fname ++  '] post facileImmobiliare Agente request: [' ++ (write(payload default '', &quot;application/json&quot;)) ++ ']']" />
		<ee:transform doc:name="Transform Message" doc:id="3994ee1a-a550-47bb-b577-75e5ff40ec42" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload.request]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<http:request method="POST" doc:name="Request" doc:id="4a22edc8-3f68-4b4f-807d-a5bdaff2a99f" config-ref="HTTP_Request_configuration_facileImmobiliare" path="${facileImmobiliare.basePath}${facileImmobiliare.agente.path}" >
			<http:headers ><![CDATA[#[output application/java
---
{
	"Authorization" : "Value"
}]]]></http:headers>
			<http:query-params ><![CDATA[#[output application/json skipNullOn="everywhere"
---
{
		"title": payload.title,
		"ruolo": payload.role,
		"nome": payload.firstName,
		"cognome": payload.lastName,
		"descrizione": payload.description,
		"immobili_gestiti": payload.propertiesManaged,
		"url_foto": payload.photoUrl,
		"email": payload.emailAddress,
		"email_superiore": payload.superiorEmail,
		"crm_id": payload.crmId
}]]]></http:query-params>
			<http:response-validator >
				<http:success-status-code-validator values="200..499" />
			</http:response-validator>
		</http:request>
		<logger level="INFO" doc:name="Logger" doc:id="f04d9189-dd43-4b60-bed1-ad86ad0d1c67" message="#[payload]"/>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="188d6d7b-49a5-4d59-9c60-9c5500e9f7e3" >
				<logger level="INFO" doc:name="Logger" doc:id="65f71ba2-9c8b-4972-a445-d383260d6756" message="#[error]" />
				<ee:transform doc:name="Transform Message" doc:id="e4b7b658-64de-4f25-bf9e-c274fad36c58" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message": error.detailedDescription
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="wikiCasaSSOTokenForProvider" doc:id="145c8e3e-91a4-40f3-a5da-60e114464505">
		<http:request method="GET" doc:name="Request" doc:id="25e047a7-3f39-43ea-8686-22dbd9a1b2e5" config-ref="HTTP_Request_configuration_WikiCasa" path="${wikiCasa.basePath}${wikiCasa.pathssoTokenForProvider}">
			<http:headers><![CDATA[#[output application/java
---
{
	"PrivateKey" : p('secure::wikiCasa.PrivateKey'),
	"PublicKey" : p('secure::wikiCasa.PublicKey')
}]]]></http:headers>
		</http:request>
		<logger level="INFO" doc:name="Logger" doc:id="dc1e206e-bd7c-4569-9e68-b93f90eca823" message="#[%dw 2.0&#10;output application/json&#10;---&#10;'[fName:' ++ vars.fname ++  '] ssoTokenForProvider Wiki Casa Response: [' ++ (write(payload default '', &quot;application/json&quot;)) ++ ']']" />
		<error-handler>
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="ad4ee822-c66c-4b93-9f4e-802370be60a7">
				<logger level="INFO" doc:name="Logger" doc:id="390d3ba3-036e-4389-8b20-e317e8e57b92" message="#[error]" />
				<ee:transform doc:name="Transform Message" doc:id="56bbc17d-9875-4706-9f68-3644b66517bd">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"message": error.detailedDescription
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="wikiCasaPostAgencie" doc:id="41bcd411-db08-452b-9305-dc7f855ed8a6" >
		<flow-ref doc:name="Flow Reference" doc:id="e20ca075-6dd7-40d1-ba8e-eed1d1a09695" name="initVars"/>
		<flow-ref doc:name="Flow Reference token" doc:id="b6a4186e-d85b-450d-a12c-fade1b12ba54" name="wikiCasaSSOTokenForProvider" target="wikiCasaSSOToken"/>
		<logger level="INFO" doc:name="Logger" doc:id="c6ef9c24-5dd3-4490-89e0-58cdd2bd3678" message="#[vars.wikiCasaSSOToken]"/>
		<logger level="INFO" doc:name="Logger" doc:id="c87ea7a5-2017-4f04-a685-7edc1e5f0993" message="#[%dw 2.0&#10;output application/json&#10;---&#10;'[fName:' ++ vars.fname ++  '] post wikicasa Agenzia request: [' ++ (write(payload default '', &quot;application/json&quot;)) ++ ']']" />
		<ee:transform doc:name="Transform Message" doc:id="080ab22e-ccf3-46e5-9a12-77bbe83f5ef2" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload.request]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<http:request method="POST" doc:name="Request" doc:id="a724d522-0c87-4878-8c4f-c35e11ef4327" config-ref="HTTP_Request_configuration_WikiCasa" path="${wikiCasa.basePath}${wikiCasa.agencies.path}/new">
			<http:headers ><![CDATA[#[output application/java
---
{
	("Authorization" : "Bearer " ++ vars.wikiCasaSSOToken) if vars.wikiCasaSSOToken != null,
	"Content-Type" : "application/json"
}]]]></http:headers>
			<http:response-validator >
				<http:success-status-code-validator values="200..499" />
			</http:response-validator>
		</http:request>
		<logger level="INFO" doc:name="Logger" doc:id="3a104657-b80b-41a6-8bb8-63f3ee9f3fb8" message="#[payload]" />
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="fad78ea2-ac21-4862-98ef-6b7a51580662" >
				<logger level="INFO" doc:name="Logger" doc:id="fab8eaca-fbfc-4321-8982-1ada18de6f35" message="#[error.detailedDescription]" />
				<ee:transform doc:name="Transform Message" doc:id="ca6b6117-464f-4195-a0b9-499539abc935" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message": error.detailedDescription
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="wikiCasaPutAgencie" doc:id="ececb448-f1a5-42a5-a7f4-0f7fdc988959" >
		<flow-ref doc:name="Flow Reference" doc:id="666af20a-d0e5-4b3b-96bd-02d9aeb6ed54" name="initVars" />
		<flow-ref doc:name="Flow Reference token" doc:id="e0be1cdc-fd43-484a-ab71-a8893b19729b" name="wikiCasaSSOTokenForProvider" target="wikiCasaSSOToken" />
		<logger level="INFO" doc:name="Logger" doc:id="5871cd4e-7163-4c5e-a2de-8f570d6c24a0" message="#[vars.wikiCasaSSOToken]" />
		<logger level="INFO" doc:name="Logger" doc:id="19b6e5b3-ca6f-4f3c-8263-62fc6a159aea" message="#[%dw 2.0&#10;output application/json&#10;---&#10;'[fName:' ++ vars.fname ++  '] put wikicasa Agenzia request: [' ++ (write(payload default '', &quot;application/json&quot;)) ++ ']']" />
		<ee:transform doc:name="Transform Message" doc:id="4e769c35-f815-49d6-b866-4bdb56073ac6" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload.request]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<http:request method="PUT" doc:name="Request" doc:id="b2911eb0-48ae-4819-8383-d39d6c3740a6" config-ref="HTTP_Request_configuration_WikiCasa" path="${wikiCasa.basePath}${wikiCasa.agencies.path}/{externalIdAgency}/edit" >
			<http:headers ><![CDATA[#[output application/java
---
{
	("Authorization" : "Bearer " ++ vars.wikiCasaSSOToken) if vars.wikiCasaSSOToken != null,
	"Content-Type" : "application/json"
}]]]></http:headers>
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"externalIdAgency" : payload.externalId
}]]]></http:uri-params>
			<http:response-validator >
				<http:success-status-code-validator values="200..499" />
			</http:response-validator>
		</http:request>
		<logger level="INFO" doc:name="Logger" doc:id="2494dc24-5ac7-44a2-8650-736c0e5daf4f" message="#[payload]" />
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="e4d39864-b075-439d-8f8a-ca687e52da7a" >
				<logger level="INFO" doc:name="Logger" doc:id="35a41804-9195-43eb-9df8-630e3a8110a2" message="#[error]" />
				<ee:transform doc:name="Transform Message" doc:id="75e89154-fc94-400b-86ab-ae6a637c2044" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message": error.detailedDescription
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="wikiCasaPostAgent" doc:id="08108269-7733-445d-a67e-de760ef378dc" >
		<flow-ref doc:name="Flow Reference" doc:id="58d894fd-dd32-4383-9d04-28a315900110" name="initVars" />
		<flow-ref doc:name="Flow Reference token" doc:id="31f5ac0f-0b96-4e5f-aeec-ea50bbb43813" name="wikiCasaSSOTokenForProvider" target="wikiCasaSSOToken" />
		<logger level="INFO" doc:name="Logger" doc:id="6ea671e1-126e-405c-87f1-2cbc921a74b0" message="#[vars.wikiCasaSSOToken]" />
		<logger level="INFO" doc:name="Logger1" doc:id="e032c2ca-524c-41ee-964c-dd57a7cd2a91" message="#[%dw 2.0&#10;output application/json&#10;---&#10;'[fName:' ++ vars.fname ++  '] post wikicasa Agente request: [' ++ (write(payload default '', &quot;application/json&quot;)) ++ ']']" />
		<ee:transform doc:name="Transform Message" doc:id="b8c4492f-32f3-4d30-a1bc-5d3aa74bd151" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload.request]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<http:request method="POST" doc:name="Request" doc:id="41166f46-aa06-4679-b20c-7252866d3cac" config-ref="HTTP_Request_configuration_WikiCasa" path="${wikiCasa.basePath}${wikiCasa.agents.path}/{externalIdAgency}/new" >
			<http:body ><![CDATA[#[%dw 2.0
output application/json skipNullOn="everywhere"
---
{
	name : payload.firstName,			
  	surname : payload.lastName,		
  	email : payload.email,			
	phone : payload.phone,			
	rea : payload.rea,
    description : payload.description,
	websiteUrl : payload.websiteUrl,
	linkedinUrl : payload.linkedinUrl,
	facebookUrl : payload.facebookUrl,
	instagramUrl : payload.instagramUrl,
	title : payload.title,
	imageUrl : payload.photoUrl,
}]]]></http:body>
			<http:headers ><![CDATA[#[output application/java
---
{
	("Authorization" : "Bearer " ++ vars.wikiCasaSSOToken) if vars.wikiCasaSSOToken != null,
	"Content-Type" : "application/json"
}]]]></http:headers>
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"externalIdAgency" : payload.externalId,
}]]]></http:uri-params>
			<http:response-validator >
				<http:success-status-code-validator values="200..499" />
			</http:response-validator>
		</http:request>
		<logger level="INFO" doc:name="Logger" doc:id="5d09864d-b279-470c-9500-2f8103176da0" message="#[payload]" />
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="c812057f-dfec-4fb0-bad7-29e672825b4c" >
				<logger level="INFO" doc:name="Logger" doc:id="6d0bc877-1d5e-4584-8351-5c73fdbcfcc7" message="#[error]" />
				<ee:transform doc:name="Transform Message" doc:id="1fb3cbd2-c994-40b5-a080-7756b0a6e26f" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message": error.detailedDescription
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="wikiCasaPutAgent" doc:id="37564c63-448c-4cfb-91a8-95a02dfba29b" >
		<flow-ref doc:name="Flow Reference" doc:id="925d3d9d-0f0f-4409-ab76-a8a20ea72115" name="initVars" />
		<flow-ref doc:name="Flow Reference token" doc:id="d74c7d01-0143-459c-825a-9318df78b98e" name="wikiCasaSSOTokenForProvider" target="wikiCasaSSOToken" />
		<logger level="INFO" doc:name="Logger" doc:id="de8e916c-31d7-486a-9328-777cb6b02271" message="#[vars.wikiCasaSSOToken]" />
		<logger level="INFO" doc:name="Logger1" doc:id="fa7341ef-f9b4-436b-89db-844b263a7fba" message="#[%dw 2.0&#10;output application/json&#10;---&#10;'[fName:' ++ vars.fname ++  '] put wikicasa Agente request: [' ++ (write(payload default '', &quot;application/json&quot;)) ++ ']']" />
		<ee:transform doc:name="Transform Message" doc:id="1723779e-44d7-401d-bf3c-d2d86e1107b1" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload.request]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<http:request method="PUT" doc:name="Request" doc:id="ba3848ab-c23c-4711-97eb-d922e68aa5fe" config-ref="HTTP_Request_configuration_WikiCasa" path="${wikiCasa.basePath}${wikiCasa.agents.path}/{externalIdAgency}/{externalIdAgent}/edit" >
			<http:body ><![CDATA[#[%dw 2.0
output application/json skipNullOn="everywhere"
---
{
	name : payload.firstName,			
  	surname : payload.lastName,		
  	email : payload.email,			
	phone : payload.phone,			
	rea : payload.rea,
    description : payload.description,
	websiteUrl : payload.websiteUrl,
	linkedinUrl : payload.linkedinUrl,
	facebookUrl : payload.facebookUrl,
	instagramUrl : payload.instagramUrl,
	title : payload.title,
	imageUrl : payload.photoUrl,
}]]]></http:body>
			<http:headers ><![CDATA[#[output application/java
---
{
	("Authorization" : "Bearer " ++ vars.wikiCasaSSOToken) if vars.wikiCasaSSOToken != null,
	"Content-Type" : "application/json"
}]]]></http:headers>
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"externalIdAgency" : payload.externalIdAgency,
    "externalIdAgent" : payload.externalIdAgent
}]]]></http:uri-params>
			<http:response-validator >
				<http:success-status-code-validator values="200..499" />
			</http:response-validator>
		</http:request>
		<logger level="INFO" doc:name="Logger2" doc:id="e3e3c9b9-a462-4d72-adc5-7c3d4c7c3026" message="#[payload]" />
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="38e76313-3455-4075-8084-4208e3f4fa0b" >
				<logger level="INFO" doc:name="Logger" doc:id="78e125b9-9156-4dc1-88e0-43efc30983d1" message="#[error]" />
				<ee:transform doc:name="Transform Message" doc:id="89191e37-f15a-4d94-95c7-0a4a08613b5d" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message": error.detailedDescription
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="wikiCasaDeleteAgent" doc:id="a89b62f7-5427-405f-bc3f-05a261349473" >
		<flow-ref doc:name="Flow Reference" doc:id="e1feaa3e-b795-4300-ae13-d2a7b7f0456a" name="initVars" />
		<flow-ref doc:name="Flow Reference token" doc:id="02b494f7-6d82-43d3-965b-15c0aca60f06" name="wikiCasaSSOTokenForProvider" target="wikiCasaSSOToken" />
		<logger level="INFO" doc:name="Logger" doc:id="02e8ed8a-8c5e-4e48-8cc4-65268c1776fe" message="#[vars.wikiCasaSSOToken]" />
		<logger level="INFO" doc:name="Logger1" doc:id="090d446b-4d6f-4b60-965d-7dd1add3714e" message="#[%dw 2.0&#10;output application/json&#10;---&#10;'[fName:' ++ vars.fname ++  '] delete wikicasa Agente request: [' ++ (write(payload default '', &quot;application/json&quot;)) ++ ']']" />
		<ee:transform doc:name="Transform Message" doc:id="dc10d4fa-2521-496c-8f07-61f325cfee6e" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload.request]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<http:request method="DELETE" doc:name="Request" doc:id="1970007f-83cc-48a9-9386-b388d40e44a3" config-ref="HTTP_Request_configuration_WikiCasa" path="${wikiCasa.basePath}${wikiCasa.agents.path}/{externalIdAgency}/{externalIdAgent}/delete" >
			<http:headers ><![CDATA[#[output application/java
---
{
	("Authorization" : "Bearer " ++ vars.wikiCasaSSOToken) if vars.wikiCasaSSOToken != null,
	"Content-Type" : "application/json"
}]]]></http:headers>
			<http:uri-params ><![CDATA[#[output application/java
---
{
    "externalIdAgent" : payload.externalIdAgent,
    "externalIdAgency": payload.externalIdAgency
}]]]></http:uri-params>
			<http:response-validator >
				<http:success-status-code-validator values="200..500" />
			</http:response-validator>
		</http:request>
		<logger level="INFO" doc:name="Logger2" doc:id="edaa050a-4dfb-4111-94dd-7046ab4b5d76" message="#[payload]" />
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="fe860ddc-afaa-4285-8757-61368a749400" >
				<logger level="INFO" doc:name="Logger" doc:id="9c3cabf8-bb88-4b7c-8047-a509105f49e7" message="#[error]" />
				<ee:transform doc:name="Transform Message" doc:id="a7e2d769-87bb-4d11-a867-59b44126ef38" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message": error.detailedDescription
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="wikiCasaPostProperty" doc:id="6a1e797b-396d-4689-8bbc-7e5cfa1432d0" >
		<flow-ref doc:name="Flow Reference" doc:id="036f1057-a09e-4b81-afc8-af7c20d31268" name="initVars" />
		<flow-ref doc:name="Flow Reference token" doc:id="fec62808-f72b-414e-92ca-be6e068d37cf" name="wikiCasaSSOTokenForProvider" target="wikiCasaSSOToken" />
		<logger level="INFO" doc:name="Logger" doc:id="6858597b-f8dc-4afa-bcf3-a81f19bc083c" message="#[vars.wikiCasaSSOToken]" />
		<logger level="INFO" doc:name="Logger1" doc:id="d90b3c9e-f5be-419b-a193-eca4f65c575c" message="#[%dw 2.0&#10;output application/json&#10;---&#10;'[fName:' ++ vars.fname ++  '] post wikicasa Property request: [' ++ (write(payload default '', &quot;application/json&quot;)) ++ ']']" />
		<ee:transform doc:name="Transform Message" doc:id="4b631dfe-1238-4e4b-9a40-c5c2a11483bc" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload.request]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<http:request method="POST" doc:name="Request" doc:id="4ca4beea-2897-4dba-80b9-9c100634b588" config-ref="HTTP_Request_configuration_WikiCasa" path="${wikiCasa.basePath}${wikiCasa.realEstateManagement.path}/{agencyExternalId}/new" >
			<http:body ><![CDATA[#[%dw 2.0
output application/json skipNullOn="everywhere"
---
payload - "agencyExternalId"]]]></http:body>
			<http:headers ><![CDATA[#[output application/java
---
{
	("Authorization" : "Bearer " ++ vars.wikiCasaSSOToken) if vars.wikiCasaSSOToken != null,
	"Content-Type" : "application/json"
}]]]></http:headers>
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"agencyExternalId" : payload.agencyExternalId,
}]]]></http:uri-params>
			<http:response-validator >
				<http:success-status-code-validator values="200..500" />
			</http:response-validator>
		</http:request>
		<logger level="INFO" doc:name="Logger2" doc:id="8eed1eae-53e5-4ce6-8697-0bf6050300a8" message="#[payload]" />
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="7da30769-d33d-4cee-85d0-3d32774fb361" >
				<logger level="INFO" doc:name="Logger" doc:id="d12ccc8f-6cd5-48d5-ada1-633fd828fa1d" message="#[payload]"/>
				<logger level="INFO" doc:name="Logger" doc:id="73cf9bd2-2b52-48a8-8aba-1670f6bcc2e9" message="#[error.errorMessage]" />
				<ee:transform doc:name="Transform Message" doc:id="f7292cb0-0729-4daa-9eed-cb635efb1b3a" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message": error.detailedDescription
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="wikiCasaPutProperty" doc:id="a811fe84-75db-48e4-a1d4-75a32e33855b" >
		<flow-ref doc:name="Flow Reference" doc:id="fdee453d-f1a2-4572-a4a8-8b5c64771f01" name="initVars" />
		<flow-ref doc:name="Flow Reference token" doc:id="1a67d2f0-a063-4dbd-9f52-fbc6151490c2" name="wikiCasaSSOTokenForProvider" target="wikiCasaSSOToken" />
		<logger level="INFO" doc:name="Logger" doc:id="14555bd1-e322-4424-80e0-b6859854ccc1" message="#[vars.wikiCasaSSOToken]" />
		<logger level="INFO" doc:name="Logger1" doc:id="d2e48df0-4143-4ed4-bf97-63284461bba1" message="#[%dw 2.0&#10;output application/json&#10;---&#10;'[fName:' ++ vars.fname ++  '] put wikicasa Property request: [' ++ (write(payload default '', &quot;application/json&quot;)) ++ ']']" />
		<ee:transform doc:name="Transform Message" doc:id="dc7666d2-62a0-49fc-a6b1-46f34e46e6a0" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload.request]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<http:request method="PUT" doc:name="Request" doc:id="540baf12-fd96-480e-9d2d-56aab1102012" config-ref="HTTP_Request_configuration_WikiCasa" path="${wikiCasa.basePath}${wikiCasa.realEstateManagement.path}/{externalIdProperty}/edit" >
			<http:body ><![CDATA[#[%dw 2.0
output application/json skipNullOn="everywhere"
---
{
	name : payload.firstName,			
  	surname : payload.lastName,		
  	email : payload.email,			
	phone : payload.phone,			
	rea : payload.rea,
    description : payload.description,
	websiteUrl : payload.websiteUrl,
	linkedinUrl : payload.linkedinUrl,
	facebookUrl : payload.facebookUrl,
	instagramUrl : payload.instagramUrl,
	title : payload.title,
	imageUrl : payload.photoUrl,
}]]]></http:body>
			<http:headers ><![CDATA[#[output application/java
---
{
	("Authorization" : "Bearer " ++ vars.wikiCasaSSOToken) if vars.wikiCasaSSOToken != null,
	"Content-Type" : "application/json"
}]]]></http:headers>
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"externalIdProperty" : payload.externalId
}]]]></http:uri-params>
			<http:response-validator >
				<http:success-status-code-validator values="200..499" />
			</http:response-validator>
		</http:request>
		<logger level="INFO" doc:name="Logger2" doc:id="4dee4f68-7991-4313-8082-190513569275" message="#[payload]" />
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="3d73f7f5-cb2e-41ed-a5d5-836ca593dbd3" >
				<logger level="INFO" doc:name="Logger" doc:id="1152abda-0e54-4ba7-9b22-e064dbd01ae4" message="#[error]" />
				<ee:transform doc:name="Transform Message" doc:id="cac20c63-8432-4c50-bb4f-de81491d88ee" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message": error.detailedDescription
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="wikiCasaDeleteProperty" doc:id="8daff19d-5fb9-4690-b599-cc1fa9fed9ab" >
		<flow-ref doc:name="Flow Reference" doc:id="af9c8553-9d5f-47d1-ab9c-f8273e9f9c1a" name="initVars" />
		<flow-ref doc:name="Flow Reference token" doc:id="ee630cfd-bff6-4c15-a53a-977b806f7b12" name="wikiCasaSSOTokenForProvider" target="wikiCasaSSOToken" />
		<logger level="INFO" doc:name="Logger" doc:id="7bb4a6f0-2290-43fa-9b29-5b619e2d1c0a" message="#[vars.wikiCasaSSOToken]" />
		<logger level="INFO" doc:name="Logger1" doc:id="c84ff093-3eec-4e87-92e1-9c4e268771da" message="#[%dw 2.0&#10;output application/json&#10;---&#10;'[fName:' ++ vars.fname ++  '] delete wikicasa Property request: [' ++ (write(payload default '', &quot;application/json&quot;)) ++ ']']" />
		<ee:transform doc:name="Transform Message" doc:id="d1dfe189-cc58-41db-842a-33262ad1fdfe" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload.request]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<http:request method="DELETE" doc:name="Request" doc:id="ad8bd8af-d777-456f-887e-c45ce7f42a61" config-ref="HTTP_Request_configuration_WikiCasa" path="${wikiCasa.basePath}${wikiCasa.realEstateManagement.path}/{externalIdProperty}/delete" >
			<http:headers ><![CDATA[#[output application/java
---
{
	("Authorization" : "Bearer " ++ vars.wikiCasaSSOToken) if vars.wikiCasaSSOToken != null,
	"Content-Type" : "application/json"
}]]]></http:headers>
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"externalIdProperty" : payload.externalId
}]]]></http:uri-params>
			<http:response-validator >
				<http:success-status-code-validator values="200..500" />
			</http:response-validator>
		</http:request>
		<logger level="INFO" doc:name="Logger2" doc:id="7cdc15de-f3e9-46ec-ad4a-2b714965a241" message="#[payload]" />
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="5841d72a-6e12-4a0e-b355-328b48226c47" >
				<logger level="INFO" doc:name="Logger" doc:id="b57520c4-6333-4b26-a2a4-3692b3ec56e0" message="#[error]" />
				<ee:transform doc:name="Transform Message" doc:id="e2f183be-2842-462a-997d-79b5d5751069" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message": error.detailedDescription
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="tokenMicrosoftToken" doc:id="bdc0c926-41e2-4271-aa9c-7e2d1c6fdc7f" >
		<http:request method="POST" doc:name="Request" doc:id="30e23080-6f4b-4c01-8fe4-6164c792eeb1" config-ref="HTTP_Request_microsoftGraph_token_configuration" path="/${microsoftGraph.tenantID}/oauth2/v2.0/token" >
			<http:body ><![CDATA[#[%dw 2.0
output multipart/form-data
---
{
    //preamble: "Here is some text before the first boundary",
    parts: {
        grant_type: {
            headers: {
                "Content-Disposition": "form-data; name=\"grant_type\""
            },
            content: "client_credentials"
        },
        client_id: {
            headers: {
                "Content-Disposition": "form-data; name=\"client_id\""
            },
            content: "dcc2b3da-56fc-42ad-97bf-2f0dcc39a50d"
        },
        client_secret: {
            headers: {
                "Content-Disposition": "form-data; name=\"client_secret\""
            },
            content: "Z9E8Q~NJkDufMWmcRSBZ5sLnCChED2ne2md3Dbrh"
        },
        scope: {
            headers: {
                "Content-Disposition": "form-data; name=\"scope\""
            },
            content: "https://graph.microsoft.com/.default"
        }
    }
}]]]></http:body>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="393cb7ee-8311-4974-b9cd-3c3017f46e82" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
if (payload.token_type != null) payload.token_type ++ " " ++ payload.access_token else payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="21f517e5-75fa-4035-84b3-d933330bad95" message="#[payload]" />
		<logger level="INFO" doc:name="Logger1" doc:id="a5fc0a4d-f671-415d-930b-1cb4a8f6587a" />
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="6dc37fba-ff0d-4e38-a5ca-f99c538ca61f" >
				<logger level="INFO" doc:name="Logger" doc:id="0ddeac04-f0e4-46e4-a140-5b1330922f30" message="#[payload]" />
				<logger level="INFO" doc:name="Logger1" doc:id="3c1459ea-20a4-47bd-9a9d-d1bb932073b4" message="#[error]" />
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="getUsers" doc:id="2f322ad5-8170-4671-9161-c15a7767c9ab" >
		<flow-ref doc:name="Flow Reference" doc:id="bea79a4e-7fe1-4ad0-af56-c366a7046b72" name="tokenMicrosoftToken" target="token"/>
		<http:request method="GET" doc:name="Request" doc:id="9946978a-0c56-4315-b08b-e6198a5acbf4" config-ref="HTTP_Request_configuration" path="${microsoftGraph.version}${microsoftGraph.users}">
			<http:headers ><![CDATA[#[output application/java
---
{
	"Authorization" : vars.token
}]]]></http:headers>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="b879c3ac-342f-481b-a790-b983fd6fe22b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="a8ebad7b-d2df-448d-9606-7168824e471a" >
				<logger level="INFO" doc:name="Logger" doc:id="658aa639-e040-46a3-b8a9-6bdde7f29cad" message="#[error]" />
				<ee:transform doc:name="Transform Message" doc:id="9871d99f-022a-493b-b57c-c8671073d4ad" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message": error.detailedDescription
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="newPage" doc:id="8c72ec87-bb7b-41a2-bc60-b66ce8f136a2" >
		<flow-ref doc:name="Flow Reference" doc:id="d3ba289d-6193-4eca-87de-88daec21eb35" name="tokenMicrosoftToken" target="token" />
		<logger level="INFO" doc:name="Logger" doc:id="58c14628-e4a6-46ee-9065-9ccae9f34b22" message="#[payload]"/>
		<http:request method="GET" doc:name="Request" doc:id="428a9aea-bec7-410d-83f1-55d14113389a" url="#[payload]">
			<http:headers ><![CDATA[#[output application/java
---
{
	"Authorization" : vars.token
}]]]></http:headers>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="25486e17-026c-42ec-b4cc-85ef6bea9478" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="b2cbbd51-5e3d-4b7e-8aab-0f2a33afd911" >
				<logger level="INFO" doc:name="Logger" doc:id="5ea7bf99-8a6b-44ca-98e7-1126ee2d7c94" message="#[error]" />
				<ee:transform doc:name="Transform Message" doc:id="7f400cc9-cd62-43fb-99db-479ad4d541ee" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message": error.detailedDescription
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="getCalendar" doc:id="d94457ae-dd6c-48c4-a943-f97bb7c42e3f" >
		<flow-ref doc:name="Flow Reference" doc:id="365eb4d7-001b-4010-9254-ae8167a769a1" name="tokenMicrosoftToken" target="token" />
		<http:request method="GET" doc:name="Request" doc:id="f6cf5982-6650-4ff1-a8d7-20a583557df3" config-ref="HTTP_Request_configuration" path="${microsoftGraph.version}${microsoftGraph.users}/{id}${microsoftGraph.calendar}" >
			<http:headers ><![CDATA[#[output application/java
---
{
	"Authorization" : vars.token
}]]]></http:headers>
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"id" : attributes.uriParams.'id'
}]]]></http:uri-params>
			<http:query-params ><![CDATA[#[output application/java
---
{
	"enddatetime" : attributes.queryParams.enddatetime,
	"startdatetime" : attributes.queryParams.startdatetime
}]]]></http:query-params>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="9cc628fc-ced6-4e23-b9f4-6b0d2fd214c5" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="2c2b7058-60bf-47b9-9722-bd2b544424a9" >
				<logger level="INFO" doc:name="Logger" doc:id="f97c00c3-83e2-4de7-abb0-ea68663b3ef9" message="#[error]" />
				<ee:transform doc:name="Transform Message" doc:id="6a2edda2-1359-4e96-b5d0-010454c34373" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message": error.detailedDescription
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="postCalendar" doc:id="e426cc57-e53b-4977-85ba-6e7e0064bca7" >
		<flow-ref doc:name="Flow Reference" doc:id="e01a050c-6d09-4162-86d2-8daebd7a08ba" name="tokenMicrosoftToken" target="token" />
		<logger level="INFO" doc:name="Logger" doc:id="39f1c1ca-dc66-47ce-9170-9550015de851" message="#[payload.request]"/>
		<http:request method="POST" doc:name="Request" doc:id="24df65a3-3eff-4822-8eed-a9072998139f" config-ref="HTTP_Request_configuration" path="${microsoftGraph.version}${microsoftGraph.users}/{id}${microsoftGraph.postCalendar}" >
			<http:body ><![CDATA[#[payload.request]]]></http:body>
			<http:headers ><![CDATA[#[output application/java
---
{
	"Authorization" : vars.token
}]]]></http:headers>
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"id" : attributes.uriParams.'id'
}]]]></http:uri-params>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="7ddbe3d2-4edf-4ac6-9ac7-9f86f422b4f8" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="cb1a6b8e-6daf-4c13-b31a-702b88964945" >
				<logger level="INFO" doc:name="Logger" doc:id="ca5acde6-b11c-4991-90dc-f958df80f7b7" message="#[error.detailedDescription]" />
				<ee:transform doc:name="Transform Message" doc:id="88f4c743-541e-4e9c-841f-65664f00bcf5" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message": error.detailedDescription
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>
