externalsystem-renovars-s/src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="postImmobileFacileImmobiliare" doc:id="a821d066-9a25-42cb-a6df-1f5c9ef735e7" >
		<flow-ref doc:name="Flow Reference" doc:id="0d316fb9-6637-4332-8bc2-392388c8838c" name="initVars"/>
		<ee:transform doc:name="Transform Message" doc:id="174ee7bb-4252-429f-8c4e-426fc7dde567" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload.request]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<http:request method="POST" doc:name="Request" doc:id="82e0e51e-d1bb-4ecb-a564-1c3a06783275" config-ref="HTTP_Request_configuration" path="${facileImmobiliare.basePath}${facileImmobiliare.immobile.path}" >
			<http:headers ><![CDATA[#[output application/java
---
{
	"Authorization" : "Value"
}]]]></http:headers>
			<http:query-params ><![CDATA[#[output application/json
---
{
	"title": payload.title,
	"status": payload.status,
	"via": payload.via,
	"citta": payload.citta,
	"provincia_immobili": payload.provincia_immobili,
	"descrizione_immobile": payload.descrizione_immobile,
	"map": payload.map,
	"prezzo": payload.prezzo,
	"tipologia_id": payload.tipologia_id,
	"superficie_mq": payload.superficie_mq,
	"stato": payload.stato,
	"anno": payload.anno,
	"bagni": payload.bagni,
	"locali": payload.locali,
	"balcone_mq": payload.balcone_mq,
	"giardino_mq": payload.giardino_mq,
	"garage": payload.garage,
	"ascensore": payload.ascensore,
	"piano": payload.piano,
	"esposizione": payload.esposizione,
	"panoramica_distanza": payload.panoramica_distanza,
	"panoramica_qualita": payload.panoramica_qualita,
	"riscaldamento": payload.riscaldamento,
	"classe_energetica": payload.classe_energetica,
	"tipo_proprieta": payload.tipo_proprieta,
	"finiture_qualita": payload.finiture_qualita,
	"impianti_qualita": payload.impianti_qualita,
	"cucina_valore": payload.cucina_valore,
	"crm_id": payload.crm_id,
	("gallery": payload.gallery) if payload.gallery != null,
	"url_foto": payload.url_foto
}]]]></http:query-params>
			<http:response-validator >
				<http:success-status-code-validator values="200..499" />
			</http:response-validator>
		</http:request>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="17a2f471-b908-449c-8bff-a6806217cd57" >
				<logger level="INFO" doc:name="Logger" doc:id="b0f9e41e-0444-47e6-b7dc-28b1051f6e0a" message="#[error]"/>
				<ee:transform doc:name="Transform Message" doc:id="59877bd0-2992-4b55-983d-fe25bc8b841f" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message": error.detailedDescription
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="initVars" doc:id="92905602-7ccf-40ad-8b01-9a77cf2b4c1c" >
		<set-variable value="#[attributes.header.fName]" doc:name="Set Variable" doc:id="1501fa86-98e1-4986-9719-405acd467dc5" variableName="fname" />
		<set-variable value="#[payload.transactionId]" doc:name="Set Variable1" doc:id="3c0be6cc-30e1-43d0-8297-8665a1c725db" variableName="transactionId" />
		<set-variable value="#[payload.timestamp]" doc:name="Set Variable2" doc:id="469ab106-e343-4c07-8c38-a77c71695fe3" variableName="timestamp" />
	</flow>
</mule>
