externalsystem-renovars-s/src/main/mule/interface.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <http:listener-config name="externalsystem-renovars-s-api-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" readTimeout="120000" />
    </http:listener-config>
    <apikit:config name="externalsystem-renovars-s-api-config" api="resource::9b82ee49-beb3-47b7-a619-0e05153193f5:externalsystem-renovars-s-api:1.0.15:raml:zip:externalsystem-renovars-s-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="externalsystem-renovars-s-api-main">
        <http:listener config-ref="externalsystem-renovars-s-api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="externalsystem-renovars-s-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="post:\ads\facileimmobiliare\property:application\json:externalsystem-renovars-s-api-config">
        <flow-ref doc:name="Flow Reference" doc:id="af205796-347d-4ecd-9d3a-1f9b033fa718" name="postImmobileFacileImmobiliare" />
    </flow>
    <flow name="delete:\ads\facileimmobiliare\agent:application\json:externalsystem-renovars-s-api-config">
        <flow-ref doc:name="Flow Reference" doc:id="bebef020-01c4-4515-8480-cf7eefa77f22" name="deleteAgenteFacileImmobiliare" />
    </flow>
    <flow name="delete:\ads\facileimmobiliare\property:application\json:externalsystem-renovars-s-api-config">
        <flow-ref doc:name="Flow Reference" doc:id="8e0f6da6-0aa1-4578-abf1-55f6a60eed36" name="deleteImmobileFacileImmobiliare" />
    </flow>
    <flow name="post:\ads\facileimmobiliare\agent:application\json:externalsystem-renovars-s-api-config">
        <flow-ref doc:name="Flow Reference" doc:id="41b7904e-1cb5-4219-918e-300a187cbb44" name="postAgenteFacileImmobiliare" />
    </flow>
    <flow name="put:\ads\wikicasa\agencie:application\json:externalsystem-renovars-s-api-config">
        <flow-ref doc:name="Flow Reference" doc:id="406aeedd-2447-4004-9413-3ec7b1145ec9" name="wikiCasaPutAgencie" />
    </flow>
    <flow name="post:\ads\wikicasa\agencie:application\json:externalsystem-renovars-s-api-config">
        <flow-ref doc:name="Flow Reference" doc:id="a4493cb5-fad2-45c6-a9b1-6ccec67f5619" name="wikiCasaPostAgencie" />
    </flow>
    <flow name="put:\ads\wikicasa\agent:application\json:externalsystem-renovars-s-api-config">
        <flow-ref doc:name="Flow Reference" doc:id="7dc7ee57-f279-4b95-8ada-3246b33c3e70" name="wikiCasaPutAgent" />
    </flow>
    <flow name="post:\ads\wikicasa\agent:application\json:externalsystem-renovars-s-api-config">
        <flow-ref doc:name="Flow Reference" doc:id="e45362e5-e2c0-46d7-9ad6-b2acf4e004bf" name="wikiCasaPostAgent" />
    </flow>
    <flow name="delete:\ads\wikicasa\agent:application\json:externalsystem-renovars-s-api-config">
        <flow-ref doc:name="Flow Reference" doc:id="a6b26378-e85f-48fe-87d8-2020e20c3a0e" name="wikiCasaDeleteAgent" />
    </flow>
    <flow name="put:\ads\wikicasa\property:application\json:externalsystem-renovars-s-api-config">
        <flow-ref doc:name="Flow Reference" doc:id="ae150252-16ce-4ba3-92bd-889ee6705dd5" name="wikiCasaPutProperty" />
    </flow>
    <flow name="delete:\ads\wikicasa\property:application\json:externalsystem-renovars-s-api-config">
        <flow-ref doc:name="Flow Reference" doc:id="a30b1976-22e4-4515-867a-b1a9040fb91f" name="wikiCasaDeleteProperty" />
    </flow>
    <flow name="post:\ads\wikicasa\property:application\json:externalsystem-renovars-s-api-config">
        <flow-ref doc:name="Flow Reference" doc:id="0057bc9f-a9f9-4837-9aa9-11a3f7c40b28" name="wikiCasaPostProperty" />
    </flow>
</mule>
